using break

In [27]:
break_list=[1,2,3,4,5,6]
for i in range(6):
   
    if break_list[i]==break_list[3]:
        print("this is break")
        break
    print(break_list[i])

1
2
3
this is break

In [30]:
2 in break_list

True

Continue statement

In [29]:
break_list=[1,2,3,4,5,6]
for i in range(6):
    if break_list[i]==break_list[4]:
        print("this is break")
        continue
    print(break_list[i])

1
2
3
4
this is break
6

## Nested loops

In [32]:
first_name=["Ali","Mahad","Qamar","Yasir","Salman"]
last_name=["Mehdi","khan","Abbas","wahid","mehmood"]

In [94]:
full_name=[]
for f in first_name:
    for l in last_name:
        full_name.append(f+" "+l)
        #print(full_name)
print(full_name)

['Ali Mehdi', 'Ali khan', 'Ali Abbas', 'Ali wahid', 'Ali mehmood', 'Mahad Mehdi', 'Mahad khan', 'Mahad Abbas', 'Mahad wahid', 'Mahad mehmood', 'Qamar Mehdi', 'Qamar khan', 'Qamar Abbas', 'Qamar wahid', 'Qamar mehmood', 'Yasir Mehdi', 'Yasir khan', 'Yasir Abbas', 'Yasir wahid', 'Yasir mehmood', 'Salman Mehdi', 'Salman khan', 'Salman Abbas', 'Salman wahid', 'Salman mehmood']

Table using Input(print without concatination)

In [110]:
x=int(input("which numbers table you want? "))
for i in range(1,int(input("enter your range "))+1):
    print(x,"*",i,"=", x*i)

which numbers table you want? 3
enter your range 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Tables from 1-10 using concatination in print

In [4]:
#print("List of tables from 1-10",end="\n")
start=int(input("enter start of table"))
end=int(input("enter end of table"))
for x in range (start,end+1):
    for y in range (1,11):
        print(str(x)+" * "+str(y)+ " = "+ str(x*y))
    print("=======")

enter start of table2
enter end of table4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
=======
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
=======
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
=======

# Dictionaries

In [5]:
#Format of a dictionary
#dct={key:value,key:value}
dct={}
type(dct)

dict

In [58]:
dct={1:100,2:200,3:300,4:400} #both keys and value are integer
dct0={11:'11',12:"122"}
dct1={"a":"Apple","b":"Bara Apple"} # both are string
dct2={1:"Apple",2:"ball",3:"CAt"} #key can be int and value can be string and vise varse
dct3={"name":['asad','yasir','saad','mahad'],1:999,"a":"ali"} #key string and value list
dct4={"a1":[dct,dct1,dct2,dct3]} #list of dictionaries
dct4["a2"]=[dct0]


#how to access distionary
dct[1]
dct1["a"]
dct4

{'a1': [{1: 100, 2: 200, 3: 300, 4: 400},
  {'a': 'Apple', 'b': 'Bara Apple'},
  {1: 'Apple', 2: 'ball', 3: 'CAt'},
  {'name': ['asad', 'yasir', 'saad', 'mahad'], 1: 999, 'a': 'ali'}],
 'a2': [{11: '11', 12: '122'}]}

In [16]:
dct4
dct3 ["aim"]="bht kuch " #method to add key and item in dictionary
print(dct3)

{'name': ['asad', 'yasir', 'saad', 'mahad'], 1: 999, 'a': 'ali', 'aim': 'bht kuch '}

In [13]:
dct4["a1"]="kuch nahi"   #key was over ride
dct4

{'a1': 'kuch nahi'}

In [22]:
dct5={1:"ali",2:"mehdi",1:"naqvi"} #defining a key more then once
dct5

{1: 'naqvi', 2: 'mehdi'}

In [23]:
del dct5[1] #deleting a value from a dictionary
dct5

{2: 'mehdi'}

In [24]:
dct5[1]="ali"
dct5

{2: 'mehdi', 1: 'ali'}

In [45]:
dct3={"name":['asad','yasir','saad','mahad'],1:999,"a":"ali"} #accessing a list element from dictionary using key
dct3["name"][1] #pehly key phr index
#dct3["name"][1][2]
dct3

#name=dct3["name"].pop(1) 
#print(name)

dct3["name"].insert(1,"Wahid")
print(dct3)

{'name': ['asad', 'Wahid', 'yasir', 'saad', 'mahad'], 1: 999, 'a': 'ali'}

In [29]:
dct7={1:{1:"a",2:"b",3:"c",4:"d4z"},2:"12345"}
dct7[1][4][1] #accessing 4 from "d4z"
dct7[2][2] #accessing 3 from "12345"

'3'

In [50]:
dct8={1:"a",2:"b",3:"c",4:"d",5:"e"}
for k, v in dct8.items():
    print(k,v)

1 a
2 b
3 c
4 d
5 e

In [56]:
dct8={1:"a",2:"b",3:"c",4:"d",5:"e"}
for k in dct8.keys(): #for only the keys
   # print(k)
    print(dct8[k]) #print values using iterative keys

a
b
c
d
e

In [53]:
dct8={1:"a",2:"b",3:"c",4:"d",5:"e"}
for k in dct8.values(): #for only the values
    print(k)

a
b
c
d
e