This is our First class of Python ;

In [ ]:
print("hello mady")

# PYTHON

In [21]:
cities=["ali",'mehdi','naqvi','is','using','list']
cities.append("the ")
cities.append("end")
cities.insert(4,"Syed")
cities.append(455)
cities.append(23.54)
print("welcome to" ,cities)
anlist=[]
anlist.append(cities.pop(3))
print(cities)
cities.remove('using')
#del cities[6]
print(cities)
print(anlist)
print(cities[2])

welcome to ['ali', 'mehdi', 'naqvi', 'is', 'Syed', 'using', 'list', 'the ', 'end', 455, 23.54]
['ali', 'mehdi', 'naqvi', 'Syed', 'using', 'list', 'the ', 'end', 455, 23.54]
['ali', 'mehdi', 'naqvi', 'Syed', 'list', 'the ', 'end', 455, 23.54]
['is']
naqvi

In [32]:
smaller=cities[3:6]
print(cities)
print(smaller)

['ali', 'mehdi', 'naqvi', 'Syed', 'list', 'the ', 'end', 455, 23.54]
['Syed', 'list', 'the ', 'end', 455, 23.54]

## indexing always go from left to right in slicing

In [45]:
print(cities [-5:8])
print(cities [3:-2])
print(cities[-3:-8])

['list', 'the ', 'end', 455]
['Syed', 'list', 'the ', 'end']
[]

In [49]:
cities [2:-1]

['naqvi', 'Syed', 'list', 'the ', 'end', 455]

In [129]:
list=[1,2,3,4,5,6,7,8,9]
list.append("Maddy")
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Maddy']

In [130]:
list [0:5]

[1, 2, 3, 4, 5]

In [131]:
list [5:12]

[6, 7, 8, 9, 'Maddy']

In [132]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Maddy']

In [133]:
del list[0]

# copy built-in function is pass by value not refrence

In [134]:
a=[1,2]
b=['a','b']
c=a
d=b*2
c
d
#a.clear()
a
a.reverse()
a
a=c.copy()
d=c
print("before append")
print("c=",c)
print("a=",a)
print("d=",d)
c.append(12)
print("after append")
print("c=",c)
print("a=" ,a)
print("d =",d)

before append
c= [2, 1]
a= [2, 1]
d= [2, 1]
after append
c= [2, 1, 12]
a= [2, 1]
d = [2, 1, 12]

In [121]:
value1=10
value2=value1
value1=20
value2=value1+value1
value2

40

In [122]:
id (value1)

140711271249328

In [123]:
id (value2)

140711271249968

# Unpaking tupple or list

In [156]:
a=1,2,3
b=['a','b','c']
x,y,z=b
g,f,h=a
#b.insert(1,a[0:2])
b=a[2:4]
#print(b)
#del a[2]
print(g)
print(f)
name="Pakistan Zindabad"
print(name[3:7])

1
2
ista

In [144]:
a=['mahad','salman','ali','qamar']
b=['yasir','raghib']
a.insert(2,b)
print(a)

['mahad', 'salman', ['yasir', 'raghib'], 'ali', 'qamar']

# converting string into list

In [160]:
name="Pakis,tan Z,inda,bad"
splt=name.split(",")
print(splt)

['Pakis', 'tan Z', 'inda', 'bad']